



.tipos-imagen{

    width: 400;
    height: 900;


}



.parrafo{

    font-size: medium;
    font-weight: 500;

}


.parrafo2{
    font-size: large;
}


.card-body{
    background-color: $color-fondo;
}

.card-footer{
    background-color: $color-fondo;
}

.card-text{
    color: $color-fuentes;
}

.card-title{
    color: $color-fuentes;
}

.secondary{
    background-color: $color-fondo;
}

.card{
    border-color: goldenrod;
}